<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Title -->
    <title>N-Travel</title>
    <!-- Style Sheet-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/my_style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!--[if lt IE 9]>
                        <script src="js/html5shiv.js"></script>
                        <link rel="stylesheet" href="css/ie.css">
                <![endif]-->
</head>

<body>
    <!-- HEADER TOP -->
    <div id="top"></div>
    <div class="header-one">
        <div class="headertop-wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3 sign_in">
                        <span class="users">欢迎<span class="user"><%- username %></span></span>
                        <a href="login" class="sign-in" id="login-link">登录</a>
                        <a href="logout" class="sign-in">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER IOP -->
    <!-- HEADER -->
    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="span4">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="Logo"></a>
                    </div>
                </div>
                <!-- Logo -->
                <!--top Menu -->
                <div class="span8">
                    <div class="top-menu">
                        <p class="top-title">航班管理及行程规划</p>
                    </div>
                </div>
                <!--top Menu -->
            </div>
        </div>
    </div>
    <!-- HEADER -->