<% include header.html %>
    <!-- Main Navigation -->
    <!-- Main Navigation -->
    <!-- Slider -->
    <div class="flexslider">
        <!--行程规划-->
        <div class="pa sidebar">
          <div class="items-panel detail">
              <h2 id="js-plan-list-head">行程列表
                  <a class="sign-in list-btn" id="create-list">生成列表</a>
                  <a class="sign-in list-btn" id="clear-list">清空行程</a>
                  <div class="location clearfix">
                      <div class="pull-left">
                          <div class="date clearfix">
                              <div class="Depart-Date">
                                  <label>启程日期</label>
                                  <input type="text" name="Location" value="2016-05-04" id="datepicker">
                              </div>
                              <div>
                                  <label>返程日期</label>
                                  <input type="text" name="Location" value="2016-05-07" id="clender">
                              </div>
                          </div>
                      </div>
                  </div>
              </h2>
              <div class="plan-bottom mCustomScrollbar _mCS_1"><div class="mCustomScrollBox mCS-dark-2" id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;"><div class="mCSB_container mCS_no_scrollbar detail" style="position:relative; top:0;">
                <div class="destination day-container">
                  <i class="u1 ui-circle-green  fn-click-empty"></i>
                  <ul class="list destination-list day-list  ui-sortable">
                 </ul>
                </div>
              <div class="added-oneday js-bottom-addday-tag"><a href="javascript:;" title="点击添加一天">+</a></div>
                </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><a class="mCSB_buttonUp" oncontextmenu="return false;"></a><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div><a class="mCSB_buttonDown" oncontextmenu="return false;"></a></div></div></div>
          </div>
        </div>
        <!-- 查询表格 -->
        <div id="accordion">
            <h3> <span class="flight">机票查询</span></h3>
            <div class="detail">
                <form method="post">
                    <div class="location clearfix">
                        <div class="pull-left">
                            <label>起点</label>
                            <input type="text"  size="15" id="homecity_name" name="homecity_name" value="北京"/>
                        </div>
                        <div class="pull-right">
                            <label class="dst">终点</label>
                            <input type="text"size="15" id="getcity_name" name="getcity_name"  value="上海"/>
                        </div>
                    </div>
                    <!-- <div class="location clearfix">
                        <div class="pull-left"style="width: 290px;">
                            <div class="date clearfix">
                                <div class="Depart-Date">
                                    <label>启程日期</label>
                                    <input type="text" name="Location" value="30/05/2016" id="datepicker">
                                </div>
                                <div>
                                    <label>返程日期</label>
                                    <input type="text" name="Location" value="30/05/2016" id="clender">
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="search">
                        <input  name="searchFlight"type="button" value="搜索" id="searchFlight">
                    </div>
                    <div class="search">
                        <input  name="searchFlight"type="button" value="搜索返程" id="searchBack">
                    </div>
                </form>
            </div>
            <h3> <span class="vacation ">景点搜索</span></h3>
            <div class="detail sinery">
                <form method="post">
                    <div class="trip  ">
                        <div class="pull-left location">
                            <label>目的地</label>
                            <input type="text" value="北京" size="15" id="Descity" name="Descity" />
                        </div>
                        <div class="search">
                        <input  name="search" id="search"type="button" value="搜索">
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 航班结果 -->
        <div class="flight-list J_FlightList">
          <div class="flight-title"><span class="titleName">航班</span><span class="titleTime">起止时间</span><span class="titlePort">起落机场</span><span class="titleOntime">准点率</span><span class="titleCross">飞行时间</span></div>
          <div class="flight-list-box" id="J_FlightListBox">
          </div>
        </div>
        <!-- 门票结果 -->
        <div class = "result_list"id = "search-list" >
        </div>
        <!--日程表 -->
        <div class="content-bd tripList"><div class="content-top"><p>行程列表</p><a class="sign-in"id="save">保存</a><a class="sign-in"id="edit">编辑</a></div><div class="everyday-box"><div class="stock-day"><em><b>day1</b></em><h2 class="stocklist"></h2></div><div class="stock"></div></div><div class="everyday-box"><div class="stock-day"><em><b>day2</b></em><h2 class="stocklist"></h2></div><div class="stock"></div></div><div class="everyday-box"><div class="stock-day"><em><b>day3</b></em><h2 class="stocklist"></h2></div><div class="stock"></div></div><div class="everyday-box"><div class="stock-day"><em><b>day4</b></em><h2 class="stocklist"></h2></div><div class="stock"></div></div><div class="everyday-box"><div class="stock-day"><em><b>day5</b></em><h2 class="stocklist"></h2></div><div class="stock"></div></div></div>
        <!--我的行程 -->
        <div class="content-bd myList"><div class="content-top"><p>我的行程</p></div><ul>
          <%for(var i = 0;i < trip.length; i++){ if(!trip[i])continue;%>
              <li class="spys li">
                  <div class="stocklist">

                      <% for(var j in trip[i]) {%>
                        <% if (!trip[i][j].trip1.sight) { %>
                        <span ><%=trip[i][j].trip1.depCity%></span>
                      <img src="/images/plan/edit/airportblue2.png">
                      <span ><%=trip[i][j].trip1.arrCity%></span>
                      <img src="/images/plan/show/right-arrow.png">
                        <% } else { %>
                        <span ><%=trip[i][j].trip1.sight%></span>
                      <img src="/images/plan/show/right-arrow.png">
                       <% } %>
                      <% } %>
                  </div>
              </li>
          <%}%>
        </ul></div>
        <!-- 行程时间选择 -->
        <div class="dn pa-box trip-calendar" >
          <div class="trip-calendar-option">
            <p>出发时间：<span class="calendar"><input readonly="readonly" id="started-at-date" type="text" value=""><i class="u1" id="js-started-at-img" title="日历"></i></span></p>
            <p>结束时间：<span class="calendar"><input readonly="readonly" id="ended-at-date" type="text" value=""><i class="u1" id="js-ended-at-img" title="日历"></i></span></p>
            <p style="text-align:right; margin:15px 25px 15px 0"><button class="btn-save save">保存</button>  <button class="btn-cancel cancel">取消</button></p>
            </div>
          <a href="javascript:;" class="inline-close" title="关闭"></a>
        </div>
        <!-- 添加计划选择 -->
        <dl class="pulldown-menu origin-add-menu" id="origin-add-menu" style="overflow: auto;width: 92px;">
          <dd></dd>
        </dl>
    </div>
    <!-- Slider -->
    <!-- Special Offer -->


<% include footer.html %>
