<% include header.html %>
    <!-- Main Navigation -->
    <!-- Main Navigation -->
    <!-- Slider -->
    <div class="flexslider">
    <!--行程规划-->
        <div class="pa sidebar">
        <div class="items-panel detail">
            <h2 id="js-plan-list-head">行程列表         
                <div class="location clearfix">
                    <div class="pull-left">
                        <div class="date clearfix">
                            <div class="Depart-Date">
                                <label>启程日期</label>
                                <input type="text" name="Location" value="30/05/2016" id="datepicker">
                            </div>
                            <div>
                                <label>返程日期</label>
                                <input type="text" name="Location" value="30/05/2016" id="clender">
                            </div>
                        </div>
                    </div>
                </div>
            </h2>
            <div class="plan-bottom mCustomScrollbar _mCS_1"><div class="mCustomScrollBox mCS-dark-2" id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;"><div class="mCSB_container mCS_no_scrollbar detail" style="position:relative; top:0;">
              
              <div class="destination day-container" day_id="1">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="1">
              <li style="padding:0 0 5px 0"> 
                    <h3 class="bg-green clearfix">
                        <span class="convert-block">
                            第<span class="day-sequence">1</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                        </span>
                        <strong class="date-msg">
                             </strong>
                  </h3>
               </li>
               <li>
                  <span class="destination-name">
                    <em class="ball ball-red">1</em>
                    <a href="javascript:;" class="item-name">卢浮宫广场</a>
                    </span>
                </li>
               </ul>
            </div><div class="destination day-container" day_id="2">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="2">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">2</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="destination day-container" day_id="3">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="3">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">3</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="destination day-container" day_id="4">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="4">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">4</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="destination day-container" day_id="5">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list last-day ui-sortable" day_id="5">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">5</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="added-oneday js-bottom-addday-tag"><a href="javascript:;" title="点击添加一天">+</a></div>
              </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><a class="mCSB_buttonUp" oncontextmenu="return false;"></a><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div><a class="mCSB_buttonDown" oncontextmenu="return false;"></a></div></div></div>    
        </div>
        </div>
        <!-- 查询表格 -->
        <div id="accordion">
            <h3> <span class="flight">机票查询</span></h3>
            <div class="detail">
                <form method="post">
                    
                    <div class="location clearfix">
                        <div class="pull-left">
                            <label>起点</label>
                            <input type="text"  size="15" id="homecity_name" name="homecity_name" value="北京"/>
                        </div>
                        <div class="pull-right">
                            <label class="dst">终点</label>
                            <input type="text"size="15" id="getcity_name" name="getcity_name"  value="上海"/>
                        </div>
                    </div>
                    <!-- <div class="location clearfix">
                        <div class="pull-left"style="width: 290px;">
                            <div class="date clearfix">
                                <div class="Depart-Date">
                                    <label>启程日期</label>
                                    <input type="text" name="Location" value="30/05/2016" id="datepicker">
                                </div>
                                <div>
                                    <label>返程日期</label>
                                    <input type="text" name="Location" value="30/05/2016" id="clender">
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="search">
                        <input  name="searchFlight"type="button" value="搜索" id="searchFlight">
                    </div>
                    <div class="search">
                        <input  name="searchFlight"type="button" value="搜索返程" id="searchBack">
                    </div>
                </form>
            </div>
            <h3> <span class="vacation ">景点搜索</span></h3>
            <div class="detail sinery">
                <form method="post">
                    <div class="trip  ">
                        <div class="pull-left location">
                            <label>目的地</label>
                            <input type="text" value="北京" size="15" id="Descity" name="Descity" />
                        </div>
                        <div class="search">
                        <input  name="search" id="search"type="button" value="搜索">
                    </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="flight-list J_FlightList">
          <div class="flight-list-box" id="J_FlightListBox">
            <div class="flight-list-item clearfix J_FlightItem" data-origin-no="0"> 
              <table> 
                <tbody> 
                  <tr class="flight-item-tr"> 
                    <td class="flight-line"> 
                      <div class="pi-flightlogo-nl pi-flightlogo-nl-KN"> 
                        <p class="airline-name"> <span class="J_line J_TestFlight">中国联航</span></p> 
                        <p class="line-name"></p> 
                      </div> 
                    </td> 
                    <td class="flight-time"> <p class="flight-time-deptime">21:35</p> <p> <span class="s-time">23:30</span>  </p> </td> 
                    <td class="flight-port"> <div class="port-detail"> <p class="port-dep">南苑机场</p> <p class="port-arr">浦东机场T1</p> </div> </td> 
                    <td class="flight-ontime-rate"> <p></p> </td>  
                    <td class="flight-price ">  <p></p>   </td> 
                    <td class="flight-operate"> <a target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a> </td> 
                    </tr> 
                </tbody> 
              </table> 
            </div>
            <div class="flight-list-item clearfix J_FlightItem" data-origin-no="0"> 
              <table> 
                <tbody> 
                  <tr class="flight-item-tr"> 
                    <td class="flight-line"> 
                      <div class="pi-flightlogo-nl pi-flightlogo-nl-KN"> 
                        <p class="airline-name"> <span class="J_line J_TestFlight">中国联航</span></p> 
                        <p class="line-name"></p> 
                      </div> 
                    </td> 
                    <td class="flight-time"> <p class="flight-time-deptime">21:35</p> <p> <span class="s-time">23:30</span>  </p> </td> 
                    <td class="flight-port"> <div class="port-detail"> <p class="port-dep">南苑机场</p> <p class="port-arr">浦东机场T1</p> </div> </td> 
                    <td class="flight-ontime-rate"> <p></p> </td>  
                    <td class="flight-price ">  <p></p>   </td> 
                    <td class="flight-operate"> <a target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a> </td> 
                    </tr> 
                </tbody> 
              </table> 
            </div>
            <div class="flight-list-item clearfix J_FlightItem" data-origin-no="0"> 
              <table> 
                <tbody> 
                  <tr class="flight-item-tr"> 
                    <td class="flight-line"> 
                      <div class="pi-flightlogo-nl pi-flightlogo-nl-KN"> 
                        <p class="airline-name"> <span class="J_line J_TestFlight">中国联航</span></p> 
                        <p class="line-name"></p> 
                      </div> 
                    </td> 
                    <td class="flight-time"> <p class="flight-time-deptime">21:35</p> <p> <span class="s-time">23:30</span>  </p> </td> 
                    <td class="flight-port"> <div class="port-detail"> <p class="port-dep">南苑机场</p> <p class="port-arr">浦东机场T1</p> </div> </td> 
                    <td class="flight-ontime-rate"> <p></p> </td>  
                    <td class="flight-price ">  <p></p>   </td> 
                    <td class="flight-operate"> <a target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a> </td> 
                    </tr> 
                </tbody> 
              </table> 
            </div>
            <div class="flight-list-item clearfix J_FlightItem" data-origin-no="0"> 
              <table> 
                <tbody> 
                  <tr class="flight-item-tr"> 
                    <td class="flight-line"> 
                      <div class="pi-flightlogo-nl pi-flightlogo-nl-KN"> 
                        <p class="airline-name"> <span class="J_line J_TestFlight">中国联航</span></p> 
                        <p class="line-name"></p> 
                      </div> 
                    </td> 
                    <td class="flight-time"> <p class="flight-time-deptime">21:35</p> <p> <span class="s-time">23:30</span>  </p> </td> 
                    <td class="flight-port"> <div class="port-detail"> <p class="port-dep">南苑机场</p> <p class="port-arr">浦东机场T1</p> </div> </td> 
                    <td class="flight-ontime-rate"> <p></p> </td>  
                    <td class="flight-price ">  <p></p>   </td> 
                    <td class="flight-operate"> <a target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a> </td> 
                    </tr> 
                </tbody> 
              </table> 
            </div>
            <div class="flight-list-item clearfix J_FlightItem" data-origin-no="0"> 
              <table> 
                <tbody> 
                  <tr class="flight-item-tr"> 
                    <td class="flight-line"> 
                      <div class="pi-flightlogo-nl pi-flightlogo-nl-KN"> 
                        <p class="airline-name"> <span class="J_line J_TestFlight">中国联航</span></p> 
                        <p class="line-name"></p> 
                      </div> 
                    </td> 
                    <td class="flight-time"> <p class="flight-time-deptime">21:35</p> <p> <span class="s-time">23:30</span>  </p> </td> 
                    <td class="flight-port"> <div class="port-detail"> <p class="port-dep">南苑机场</p> <p class="port-arr">浦东机场T1</p> </div> </td> 
                    <td class="flight-ontime-rate"> <p></p> </td>  
                    <td class="flight-price ">  <p></p>   </td> 
                    <td class="flight-operate"> <a target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a> </td> 
                    </tr> 
                </tbody> 
              </table> 
            </div>
            <div class="flight-list-item clearfix J_FlightItem" data-origin-no="0"> 
              <table> 
                <tbody> 
                  <tr class="flight-item-tr"> 
                    <td class="flight-line"> 
                      <div class="pi-flightlogo-nl pi-flightlogo-nl-KN"> 
                        <p class="airline-name"> <span class="J_line J_TestFlight">中国联航</span></p> 
                        <p class="line-name"></p> 
                      </div> 
                    </td> 
                    <td class="flight-time"> <p class="flight-time-deptime">21:35</p> <p> <span class="s-time">23:30</span>  </p> </td> 
                    <td class="flight-port"> <div class="port-detail"> <p class="port-dep">南苑机场</p> <p class="port-arr">浦东机场T1</p> </div> </td> 
                    <td class="flight-ontime-rate"> <p>85%</p> </td>  
                    <td class="flight-price ">  <p>2小时</p>   </td> 
                    <td class="flight-operate"> <a target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a> </td> 
                    </tr> 
                </tbody> 
              </table> 
            </div>
            <div class="flight-list-item clearfix J_FlightItem" data-origin-no="0"> 
              <table> 
                <tbody> 
                  <tr class="flight-item-tr"> 
                    <td class="flight-line"> 
                      <div class="pi-flightlogo-nl pi-flightlogo-nl-KN"> 
                        <p class="airline-name"> <span class="J_line J_TestFlight">中国联航</span></p> 
                        <p class="line-name"></p> 
                      </div> 
                    </td> 
                    <td class="flight-time"> <p class="flight-time-deptime">21:35</p> <p> <span class="s-time">23:30</span>  </p> </td> 
                    <td class="flight-port"> <div class="port-detail"> <p class="port-dep">南苑机场</p> <p class="port-arr">浦东机场T1</p> </div> </td> 
                    <td class="flight-ontime-rate"> <p></p> </td>  
                    <td class="flight-price ">  <p></p>   </td> 
                    <td class="flight-operate"> <a target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a> </td> 
                    </tr> 
                </tbody> 
              </table> 
            </div>

          </div>
        </div>
        <div class = "result_list"id = "search-list" >
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "sight_item_detail clrfix">
            <div class="sight_item_show">
              <div class="show loading">
                <div class="imgshadow"></div >
                <a data - click - type = "l_pic"target = "_blank"hidefocus = "true"title = "广州长隆旅游度假区" ><img alt = "广州长隆旅游度假区"
          class = "img_opacity load"src="images/a.jpg"></a>
              </div>
            </div>
            <div class="sight_item_about">
              <h3 class="sight_item_caption"><a data-click-type="l_title" class="name"  target="_blank" hidefocus="true" title="广州长隆旅游度假区">广州长隆旅游度假区</a> </h3>
              <div class="sight_item_info">
                <div class="clrfix"><span class="level">5A景区</span> <span class = "area"> [ <a target = "_blank"hidefocus = "true"title = "广东·广州·番禺"> 广东·广州·番禺 </a>]</span > 
                  <div class = "sight_item_hot" > <span class = "product_star_level" > <em title = "热度3.5/5" > <span style = "width:70%;" > 热度3.5 / 5 </span></em > </span><span class="sight_item_hot_text">热度：</span >
                  </div>
                </div> 
                <p class = "address color999" > <span title = "广东省广州市番禺区番禺大道" > 地址：广东省广州市番禺区番禺大道 </span><a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="371131297">地图</a>
                </p>
                <div class="intro color999" title="爸爸去哪儿？去长隆旅游度假区啊">爸爸去哪儿？去长隆旅游度假区啊
                </div> 
              </div>
            </div>
            <div class="sight_item_pop">
              <table>
                <tbody>
                  <tr>
                    <td><span class="sight_item_price"><i>￥</i><em>43</em>&nbsp;起</span></td>
                  </tr>
                  <tr>
                    <td><span class="sight_item_discount">9.5折</span>&nbsp;&nbsp;&nbsp;<span class="sight_item_source">票面价：45</span></td>
                  </tr>
                  <tr>
                    <td><a  target="_blank" hidefocus="true" data-click-type="l_title" class="sight_item_do">加入行程&nbsp;<span>»</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
        <!-- 行程时间选择 -->
        <div class="dn pa-box trip-calendar" >
          <div class="trip-calendar-option">
            <p>出发时间：<span class="calendar"><input readonly="readonly" id="started-at-date" type="text" value=""><i class="u1" id="js-started-at-img" title="日历"></i></span></p>
            <p>结束时间：<span class="calendar"><input readonly="readonly" id="ended-at-date" type="text" value=""><i class="u1" id="js-ended-at-img" title="日历"></i></span></p>
            <p style="text-align:right; margin:15px 25px 15px 0"><button class="btn-save save">保存</button>  <button class="btn-cancel cancel">取消</button></p>
            </div>
          <a href="javascript:;" class="inline-close" title="关闭"></a>
        </div>
        <dl class="pulldown-menu origin-add-menu" id="origin-add-menu" style="overflow: auto; height: 170px; width: 92px;">
          <dd></dd>  
        </dl>
    </div>
    <!-- Slider -->
    <!-- Special Offer -->


<% include footer.html %>
