
        <!-- Footer widget -->
        <!-- Footer -->
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <footer>
                            <p>© 2016 <a href="#">N-Travel</a>. All rights reserved</p>
                            <p>Designed by isence</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="login-popup-wrapper">

            <div id="login-popup">
                <%- locals.message %>
                <h2>login Panel</h2>
                <form method="get">
                    <input type="text" value="" id="username" placeholder="kavinhieu@gmail.com" />
                    <input type="text" value="" id="password" placeholder="Password" />
                    <input type="submit" value="sıgn ın" id="login-button" />
                </form>
                <a href="#" class="close">Close</a>
            </div>
        </div>
        <!-- Scripts -->
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <!-- <script src="js/jquery.elastislide.js"></script>
        <script src="js/jquery.carouFredSel-6.0.4-packed.js"></script>
        <script src="js/jcarousellite_1.0.1.js"></script> -->
        <script src="js/jquery.cycle.all.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- <script src="js/jquery.isotope.min.js"></script> -->
        <script src="js/jquery.tinyscrollbar.min.js"></script>
        <!-- <script src="js/sidebar.js"></script> -->
        <script>
        function goToByScroll(id) {
            $ = jQuery;
            $('html,body').animate({
                scrollTop: $("#" + id).offset().top
            }, 500);
        }
        </script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('.scrollbar1').tinyscrollbar();
            $('#search').click(function(event) {
                search();
        });
            });
        function login(){
            var username = $('#username').val(),password = $('#password').val();
            var data = { "uname": username, "upwd":password};
            $.ajax({
                url:'/login',
                type:'POST',
                data:data,
                success:function(data,status){
                    if(status == 'success'){
                        location.href='home';
                    }
                },
                error:function(data,status){
                  if(status == "error"){
                      location.href='login'
                  }
                }
            });
        }
        function register(){
            var name = $('#username').val(),
                    password = $('#password').val();
            var data = { "uname": name, upwd:password};
            $.ajax({
                url:'/register',
                type:'POST',
                data:data,
                success:function(data,status){
                    if(status == 'success'){
                        location.href='login';
                    }
                },
                error:function(data,err){
                    location.href='register';
                }
            });
        };
        function search(){
            alert(1);
            var destination =encodeURI($('#Descity').val());
            var data = { "destination": destination};
            $.ajax({
                url:'/search',
                type:'POST',
                data:data,
                success:function(data,status){
                    if(status == 'success'){
                        alert(1);
                    }
                },
                error:function(data,err){
                    alert(12);
                }
            });
        }
        </script>
        <script src="js/custom.js"></script>
</body>

</html>