<% include header.html %>
    <!-- Main Navigation -->
    <!-- Main Navigation -->
    <!-- Slider -->
    <div class="flexslider">
        <div class="pa sidebar">
          <!--items-panel-->
        <div class="items-panel">
            <h2 id="js-plan-list-head">行程列表         
                <span class="pa calendar">出发时间<input readonly="readonly" type="text" class="date" style="display:none;" value=""><i class="u1"></i></span>
            </h2>
          
            <div class="plan-bottom mCustomScrollbar _mCS_1"><div class="mCustomScrollBox mCS-dark-2" id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;"><div class="mCSB_container mCS_no_scrollbar" style="position:relative; top:0;">
              <div id="favorite" class="destination onselect">
                <s class="u1 ui-circle-orange js-expand-flag fn-unselect-empty"></s>
                <h3 class="pr">
                  <span id="expand-favorite" class="convert-block">
                        待选目的地
                    <em>
                      (<span class="count">0</span>)
                    </em>
                  </span>          
                </h3>
                <ul class="destination-list ui-sortable" style="padding:0;">
                    <li style="height: 8px"></li>
                    </ul>
              </div>
              
              <div class="destination day-container" day_id="1">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="1">
              <li style="padding:0 0 5px 0"> 
                    <h3 class="bg-green clearfix">
                        <span class="convert-block">
                            第<span class="day-sequence">1</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="destination day-container" day_id="2">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="2">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">2</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="destination day-container" day_id="3">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="3">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">3</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="destination day-container" day_id="4">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list  ui-sortable" day_id="4">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">4</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="destination day-container" day_id="5">
              <div class="data" style="display:none">
                <textarea id="memo"></textarea>
                <input id="privacy_memo" value="">
              </div>
              <i class="u1 ui-circle-green  fn-click-empty"></i>
              <ul class="list destination-list day-list last-day ui-sortable" day_id="5">
              <li style="padding:0 0 5px 0"> 
                    <h3>
                        <span class="convert-block">
                            第<span class="day-sequence">5</span>天
                           <em>
                             (<span class="count">0</span>)
                           </em>
                           <a class="arrow-menu-down" href="javascript:;" title="更多">
                              <s class="arrow-yellow-d"></s>
                           </a>
                        </span>
                        <strong class="date-msg">
                             </strong>
                        <span class="done">
                            <a href="javascript:;" class="u1 edit-traffic js-edit-day-traffix" title="今日交通" style="display: none"></a>
                            <a href="javascript:;" class="u1 edit-note js-edit-day-memo" title="今日备注" style="display: none"></a>
                        </span>
                  </h3>
               </li>
               </ul>
            </div><div class="added-oneday js-bottom-addday-tag"><a href="javascript:;" title="点击添加一天">+</a></div>
              </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><a class="mCSB_buttonUp" oncontextmenu="return false;"></a><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div><a class="mCSB_buttonDown" oncontextmenu="return false;"></a></div></div></div>    
        </div>
        </div>
        <!-- Reservation box -->
        <div id="accordion">
            <h3> <span class="flight">机票查询</span></h3>
            <div class="detail">
                <form action="#" method="post">
                    <div class="trip">
                        <input type="radio" name="trip" value="Round-trip"><span>往返</span>
                        <input type="radio" name="trip" value="onw-way"><span>单程</span>
                    </div>
                    <div class="location clearfix">
                        <div class="pull-left">
                            <label>起点</label>
                            <input type="text"  size="15" id="homecity_name" name="homecity_name" value="北京"/>
                        </div>
                        <div class="pull-right">
                            <label class="dst">终点</label>
                            <input type="text"size="15" id="getcity_name" name="getcity_name"  value="上海"/>
                        </div>
                    </div>
                    <div class="location clearfix">
                        <div class="pull-left"style="width: 290px;">
                            <div class="date clearfix">
                                <div class="Depart-Date">
                                    <label>启程日期</label>
                                    <input type="text" name="Location" value="30.01.2013" id="datepicker">
                                </div>
                                <div>
                                    <label>返程日期</label>
                                    <input type="text" name="Location" value="30.01.2013" id="clender">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <input type="submit" name="search" value="搜索">
                    </div>
                </form>
            </div>
            <h3> <span class="vacation ">景点搜索</span></h3>
            <div class="detail sinery">
                <form action="#" method="post">
                    <div class="trip  ">
                        <div class="pull-left location">
                            <label>目的地</label>
                            <input type="text" value="北京" size="15" id="Descity" name="Descity" />
                        </div>
                        <div class="search">
                        <input type="submit" name="search" value="搜索"onclick="search();">
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Reservation box -->
        <div class="dn pa-box trip-calendar" >
          <div class="trip-calendar-option">
            <p>出发时间：<span class="calendar"><input readonly="readonly" id="started-at-date" type="text" value=""><i class="u1" id="js-started-at-img" title="日历"></i></span></p>
            <p>结束时间：<span class="calendar"><input readonly="readonly" id="ended-at-date" type="text" value=""><i class="u1" id="js-ended-at-img" title="日历"></i></span></p>
            <p style="text-align:right; margin:15px 25px 15px 0"><button class="btn-save save">保存</button>  <button class="btn-cancel cancel">取消</button></p>
            </div>
          <a href="javascript:;" class="inline-close" title="关闭"></a>
        </div>
    </div>
    <!-- Slider -->
    <!-- Special Offer -->


<% include footer.html %>
